.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: white;

}

.dialog {

}

.dialog a{
    color: white;
    text-decoration: none;
}

.dialog a.active{
    color: gold;
}

.messages {
    padding: 20px;
    color: white;
}

.message {

}